*.o
*.gz
*.swp
lib*.a
psr_fields
psr_lines
psr_lineofsight
psr_cost_function
psr_emit
psr_polangle
psr_fitwidth
psr_trajectory
psr_mcpa
psr_visiblepoints
psr_findcaps
psr_beam
psr_jacksonbeam
psr_lofl
psr_jacksonbeamsingle
psr_profile
calc_fields_test
transform_new_xz_test
bstep_error_test
spark_test
spark_random_test
